[Unit]
Description=iDrac Fan Controller

[Service]
Type=simple
User=root
Group=root
Environment=IDRAC_HOST="local"
#Environment=IDRAC_USERNAME="wut"
#Environment=IDRAC_PASSWORD="yup"
Environment=FAN_SPEED="5"
Environment=CPU_TEMPERATURE_THRESHOLD="83"
Environment=CHECK_INTERVAL="30"
Environment=DISABLE_THIRD_PARTY_PCIE_CARD_DELL_DEFAULT_COOLING_RESPONSE="false"
Environment=KEEP_THIRD_PARTY_PCIE_CARD_COOLING_RESPONSE_STATE_ON_EXIT="false"
ExecStart=/opt/iDRAC-Fan-Control/controller.sh
Restart=on-failure
RestartSec=5
LimitNPROC=1
LimitFSIZE=0
StandardError=journal
StandardOutput=journal
SyslogIdentifier=idrac-fan-controller
SyslogFacility=local6
WorkingDirectory=/opt/iDRAC-Fan-Control
CapabilityBoundingSet=
AmbientCapabilities=
IPAddressDeny=any
IPAddressAllow=localhost
IPAccounting=yes
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
DeviceAllow=/dev/ipmi0 rw
BindPaths=/dev/ipmi0
PrivateIPC=true
RemoveIPC=yes
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProcSubset=pid
ProtectSystem=strict
RestrictAddressFamilies=AF_INET
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @keyring @resources @obsolete @cpu-emulation @setuid @chown @aio @mount @debug @memlock userfaultfd mincore
SystemCallErrorNumber=EPERM
UMask=0077

[Install]
WantedBy=multi-user.target
